body{
  background-image: url(images/background.img.png);
  font-family: "Zen Maru Gothic", sans-serif;
}

/*ヘッダー*/
header{
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: 20px auto;
}

.logo img{
  width: 110px;
  height: 71px;
}

.header__menu ul{
  list-style: none;
  display: flex;
}

.header__menu li{
  margin-left: 20px;
}

.header__menu a{
  color: #fc8834;
  font-weight:bold;
  text-decoration: none;
}



/*メインビジュアル*/
.main-visual{
  text-align: right;
  position: relative;
}

.main-visual img{
  width: 85%;
  height: auto;
  border-radius: 500px 0 0 500px;
}

h1{
  position: absolute;
  top: 20%;
  left: 10%;
  width: 3%;
  height: auto;
  
}

/*サブタイトル*/
.sub-title{
  background-color: #fff;
  text-align: right;
  position: absolute;
  top: 80%;
  right: 0;
}

.sub-title p{
  color: #fc8834;
  font-weight: 700;
  font-size: 24px;
}

.price-box{
  position: absolute;
  margin-bottom: 64px;
  top: 85%;
  width: 50%;
}

.price-box img{
}


/*概要*/
.service-background{
  background-image: url(images/da9de22baf4b9b2e9d6eef7635003748ccafe61f.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding: 96px 0 72px;
 
}

.service-background::before{
  width: 100%;
  height: 100%;
  content: "";
  background-color: #fff;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
}

.service{
  position: relative;
  display: flex;
  justify-content: center;
  
}

.service__explain{
  text-align: center;
  margin: 20px;
}

.service__explain p{
  text-align: center;
  color: #573001;
  font-weight: 700;
  padding: 2% 0;
}



.service-flex{
  display: flex;
  justify-content: center;
  margin: 20px;
  
  
}

.service__pickup{
  background-color: #fff;
  opacity: 0.8;
  width: 177px;
  border: solid 4px #fc8834;
  border-radius: 30px;
  padding: 20px 10px;
  margin: 0 44px;
  text-align: center;
  
}

.service__pickup img{
  width: 80px;
  
  
}

.service__pickup p{
  text-align: center;
  color: #fc8834;
  font-weight: 700;
  text-decoration: underline;
}

.service__pickup-content p{
  color: #573001;
  text-decoration: none;
  font-size: 10px;
  padding: 10%;
}

/*お客様の悩みの声*/
.service-2{
  padding: 88px ;
}

.service-2 p{
  color: #573001;
  font-weight: 700;
}


.worries{
  display: flex;
  justify-content: center;
  
}

.worries p{
  padding: 0;
  margin: 20px;
}
.worries-1{
  margin-top: 40px;
}
.worries-3{
  margin-top: 20px;
}
.worries-4{
  margin-top: 60px;
}

.service-2__people{
  display: flex;
  justify-content: center;
}

.service-2__people img{
  width: 140px;
  margin: 10px;
}
.people-1 img{
  width: 178px;
  height: 148px;
}

.circle-flex{
  display: flex;
  justify-content: center;
}
.circle-flex img{
  width: 319px;
  height: auto;
}

.circle_2 img{
  width: 250px;
}

.mogumogu{
  text-align: center;
}
.mogumogu img{
  width: 240px;
}

.tyu-mon-button{
  text-align: right;
  padding-right: 88px;
}
.tyu-mon-button img{
  width: 245px;
}



/*メニュー*/
.content-background{
  position: relative;
  background-image: url(images/content_background.png);
  padding: 30px;
  margin: 120px 88px;
  border-radius: 30px;
  
}

h2{
  color: #fc8834;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  padding: 48px;
}

.menu-icon{
  display: flex;
  align-items: center;
  margin: 40px 0 32px 32px;
}
.menu-icon img{
  width: 100px;
}

.menu-icon p{
  color: #573001;
  font-weight: bold;
  font-size: 20px;
  text-decoration: underline;
  padding: 0 2%;
}
.category-button img{
  width: 56px;
}


.menu-flex{
  display: flex;
  justify-content: center;
  margin: 0 64px;
}

.menu-flex__pickup {
  margin: 0 20px;/*margin 20pxを２つ消したい消したい*/
}
.menu-flex__pickup p{
  text-align: center;
  color: #573001;
  font-size: 15px;

}
.menu-title p{
  text-align: center;
  color: #573001;
  font-weight: 600;
  font-size: 24px;
  padding-top: 20px;
}

.menu-explain{
  padding: 5%;
  margin: 0 10px;
}

.dotted-line{
  width: 90%;
  margin: 0 auto;
}

.menu-all{
  display: flex;
  justify-content: right;
  align-items: center;
  margin: 40px 24px 64px 0;
}

.menu-all p{
  color: #573001;
  font-weight: bold;
  font-size: 20px;
  text-decoration: underline;
  padding: 0 2%;
}


/*Ｑ＆Ａ*/
.q_and_a-flex{
  display: flex;
  justify-content: center;
}

.q_and_a__left{
  width: 50%;
  padding: 0 10%;
}

.q_and_a__left p{
  text-align: center;
  padding: 5%;
}

.q_and_a__right{
  width: 50%;
  padding: 0 10%;
}
.q_and_a__right p{
  text-align: center;
  padding: 3%;
}

.q p{
  font-weight: bold;
}
.a p{
  color: #fc8834;
  font-weight: bold;
}

.center_dotted-line{
  margin-bottom: 56px;
}

.otoiawase-button{
  margin: 56px auto 48px auto;
  text-align: center;
}
.otoiawase-button img{
  width: 318px;
  height: 54px;
}


/*お客様のお声*/
.customer-voice_flex{
  display: flex;
  margin-bottom: 48px;
}

.customer-voice_left{
  display: flex;
  width: 50%;
  margin-left: 72px;
}
.customer-voice_left img{
  width: 60%;
}

.customer_1{
  padding-top: 33%;
}

.customer-voice_right{
  display: flex;
  width: 50%;
}
.customer-voice_right img{
  width: 60%;
}

.customer_2{
  padding-top: 33%;
}

/**/
.last-content_background{
  background-image: url(images/last_content.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 88px;
  padding-bottom: 32px;
}

.last-content_background h2{
  color: #573001;
}

.last-content_logo{
  text-align: center;
}

.last-content_logo img{
  width: 141px;
  height: auto;
}

.last-content_flex{
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.last-content_flex img{
  width: 323px;
  margin: 0 12px;
}

.last-content_flex--3{
  display: flex;
  justify-content: center;
  margin-top: 24px;
}
.last-content_flex--3 img{
  width: 323px;
  height: 113px;
  
}
.last-content_price-box img{
  width: 604px;
  height: 130px;
  margin-left: 32px;
}


/*フッター*/

footer{
  padding: 48px 80px 64px 80px;
}
.footer-flex{
  display: flex;
  justify-content: left;
}
.footer-flex__1 a{
  display: block;
  justify-content: left;
}
.footer-flex__2 a{
  display: block;
  justify-content: left;
}

footer p{
  color: #fc8834;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 16px;
  margin-right: 40px;
  text-decoration: underline;
}


.footer-logo img{
  width: 115px;
  height: auto;
}

.footer-logo{
  text-align: right;
}